<ion-modal-view>
	<ion-header-bar class="bar bar-header">
		<button class="button button-clear button-balanced ty-button-cancel" ng-click="modal.hide()">Cancelar</button>
		<h1 class="title">Nuevo Partido</h1>
	</ion-header-bar>
	<ion-content class="">
		<div class="list">

			<div class="ty-list-group">
				<label class="item item-input item-select">
					<div class="input-label">
						Tipo
					</div>
					<select>
						<option selected>Dobles</option>
						<option>Simples</option>
					</select>
				</label>
				<label class="item item-input">
					<span class="input-label">Lugar</span>
					<input ng-model="newUser.firstName" type="text">
				</label>
			</div>

			<div class="item item-divider"></div>
			
			<div class="ty-list-group">
				<label class="item item-input">
					<span class="input-label">Fecha</span>
					<input ng-model="newUser.lastName" type="date">
				</label>
				<label class="item item-input">
					<span class="input-label">Empieza</span>
					<input ng-model="newUser.email" type="time">
				</label>
				<label class="item item-input">
					<span class="input-label">Termina</span>
					<input ng-model="newUser.email" type="time">
				</label>
			</div>

			<div class="item item-divider"></div>
			
			<div class="ty-list-group no-border-bottom">
			  <a class="item ty-item-link">
					Jugador 1
					<span class="item-note">
            Invitar*>
          </span>
				</a>
				<a class="item ty-item-link">
					Jugador 2
					<span class="item-note">
            Invitar*>
          </span>
				</a>
				<a class="item ty-item-link">
					Jugador 3
					<span class="item-note">
            Invitar*>
          </span>
				</a>
				<a class="item ty-item-link">
					Jugador 4
					<span class="item-note">
            Invitar*>
          </span>
				</a>

				<br>
				<br>

				<label class="ty-radio">
          <input type="checkbox" ng-model="partido.reservada" ng-value="false"> Reserva de cancha confirmada
          <span class="ic-radio"></span>
        </label>
        
        <br>

			</div>
			
			<div class="padding-horizontal">
				<button class="button button-full button-positive ty-button-submit" ng-click="createContact(newUser)">Crear partido</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>