<ion-view title="Iniciar Sesión">
	<ion-content class="ty-login">
		<div class="ty-login_fields">
		  <label class="ty-login_label">
		    <input type="text" placeholder="Email" class="ty-login_field">
		  </label>
		  <label class="ty-login_label">
		    <input type="password" placeholder="Contraseña" class="ty-login_field">
		  </label>
		  <div class="ty-login_tright">
		  	<a href="#/tab/players" class="ty-login_forget">¿Olvidó contraseña?</a>
		  </div>
		</div>
		<button class="button button-full ty-login_submit" ng-click="signIn(user)">
      Iniciar sesión
    </button>
    <button class="button btn-social btn-social-facebook" ng-click="signInFacebook()">
      Iniciar sesión con Facebook
    </button>
    <button class="button btn-social btn-social-twitter" ng-click="signInTwitter()">
      Iniciar sesión con Twitter
    </button>
    <button class="button btn-social btn-social-google" ng-click="signInGoogle()">
      Iniciar sesión con Google
    </button>
    <a class="button button-full btn-register" href="#/sign-up">
      Registrarse
    </a>
	</ion-content>
</ion-view>