.ty-list-group{
	padding-left: 28px;

	border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  overflow: hidden;
  margin-top: -1px;
    
	.item{
		border-left: 0;
		// padding: 12px 12px 12px 6px;
		&:first-child{
			margin-top: -2px;
		}
	}

	&.no-border-bottom{
		border-bottom: 0;
	}
	// .item-input{
	// 	padding: 7px 0 7px 6px;
	// }
	// .input-label{
	// 	padding: 1px 10px 1px 0px;
	// }
	// .item-complex .item-content,
	// .item-radio .item-content{
	// 	padding: 12px 12px 12px 6px;
	// 	padding: 0
	// }
}